<h1>Feel free to speak to this disgruntled stranger!</h1>
<form action = "talk_form" method = "post">
  What will you say?
  <input type = "text" name = "text_string">
  <input type = "submit" value = "Say it!">
</form>
